.container-grid {
	display: grid;
	grid-template-columns: 41% 59%;
	color:var(--surface-primary)
}
main{
	grid-column: 2/3;
}
.banner {
	grid-column: 1/2;
	width:39rem;
	height: 53rem;
	background-color: #fee4d6;
	position: fixed;
	padding: 4rem;

	& h2{
		font:400 1.25rem/100% "Schoolbell", serif;
		color: #292524;
	}

	
	& h1{
		font:600 2.5rem/125% var(--font-family);
		color: #292524;	
		margin-block:0.5rem; 
		& strong{
			color:#DC2626;
			font-weight: 600;
		}

	}
	& p{
		font:400 1rem/150% var(--font-family);
		color: #57534E;	
		margin-bottom:2rem
	}

}

.section-header{
	p{
		font: var(--heading4);
		color: var(--text-secondary);
	}
	a, img{
	text-decoration: none;
	font: var(--heading4);
	color: var(--text-secondary);
	vertical-align: middle;

}
}

.input-certificate{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px dashed var(--stroke-default);
	border-radius: 0.5625rem;
	margin-top: 0.5rem;
	width: 100%;
	height: 10rem;
  align-items: center;
	text-align: center;
	& p{
		margin-top: 1.875rem;
	}

  & span{
		position: absolute;
		background-image: url(icons/cloud-upload.svg);
		background-size: cover;
		z-index: 9999;
		width: 3rem;
		height:3rem;
		top:1.75rem;
		cursor:pointer;
		}

}

.input-certificate:hover{
	border: 0.125rem dashed var(--stroke-highlight);
	background-color: var(--surface-secondary);

	& span{
	background-image: url(icons/cloud-upload-hover.svg);

	
	}
}

input[type="date"]{
	position: relative;
	&::-webkit-calendar-picker-indicator{
		opacity: 0;
		cursor: pointer;
	}
	&::before{
		content: "";
		position: absolute;
		background-image: url(icons/calendar-03.svg);
		background-repeat: no-repeat;
		background-size: contain;
		right: 1rem;
		width: 1.25rem;
		height: 1.25rem;
		top: 50%;
		transform: translateY(-50%);

}}

.file-input{
	font: var(--heading4);
	color:#A8A29E;

}	

#input-birth-certificate{
	opacity: 0;
	padding: 4.0625rem 15.0625rem;
	position: absolute;
	cursor: pointer;
}

.grid-div{
	display: grid;
	grid-template-areas: 
	"label-street label-number"
	"input-street input-number"
	"label-city   label-state"
	"input-city   input-state";
}

.label-street{
	grid-column: 1/2;
	grid-row: 1/2;
}

.input-street{
	grid-row: 2/2 ;
	grid-column: 1/1;
	font: var(--heading5);
	color:var(--text-secondary); 
	border: 1px solid var(--stroke-default);
	border-radius: 0.5625rem;
	margin-block: 0.25rem 1.5rem;
	padding: 1rem 0.75rem;
	width: 69ch;
	margin-right: 1.875rem;
}

.label-city{
	grid-column: 1/2;
	grid-row: 3/4
}


.input-city{
	grid-column: 1/2;
	grid-row: 4/5 ;
	font: var(--heading5);
	color:var(--text-secondary); 
	border: 0.0625rem solid var(--stroke-default);
	border-radius: 0.5625rem;
	margin-block: 0.25rem 1.5rem;
	padding: 1rem 0.75rem;
	width: 69ch;
	margin-right: 1.875rem;

}

.input-number, 
.input-state{
	font: var(--heading5);
	color:var(--text-secondary); 
	border: 0.0625rem solid var(--stroke-default);
	border-radius: 0.5625rem;
	margin-block: 0.25rem 1.5rem;
	padding: 1rem 0.75rem;
	width: 15ch;
}

.section-flex{
	display: flex;
	justify-content: space-between;
	margin-block: 1rem 1.5rem;
}


.study-shift{
	display: flex;
	flex-direction: column;
	border: 0.062rem solid var(--stroke-default);
	border-radius: 0.56rem;
	width: 18.75rem;
	height: 9.375rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 1px;
	position: relative;

}

.study-shift:hover{
	border: 0.12rem solid var(--stroke-highlight);

	& .custom-radio {
		background-image: url(icons/circle-hover.svg);

	}
}

#input-checkbox:checked + .custom-checkbox {
	background-image: url(./icons/check-after.svg);

}


.custom-study-shift{
	position: absolute;
	cursor: pointer;
	left: 0.625rem;
	top: 0.625rem;
	width: 1.375rem;
	height: 1.375rem;
	opacity: 0;
	z-index: 1;
}




.flex-activies{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: auto;
	gap: 1rem;
	margin-top:1rem;
	& .span-activies{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15rem;
		height: 8.125rem;
		border: 0.0625rem solid var(--stroke-default);
		border-radius: 0.5625rem;
		position: relative;
	}
}
	.span-activies:hover{
		border: 0.125rem solid var(--stroke-highlight);

		& .custom-activities{
		background-image: url(icons/circle-hover.svg);
		}
	}

.text-information-finish a{
	text-decoration: none;
	color: var(--brand-dark);

}

#input-checkbox {
	position: relative;
	opacity: 0;
	width: 0.9375rem;
	height: 0.9375rem;
	z-index: 1;
	left: 0.1875rem;
	top: 0.375rem;
	cursor: pointer;
	
}


.custom-checkbox {
	position: relative;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-image: url(./icons/check-before.svg);
	background-repeat: no-repeat;
	background-size: cover;
	right: 1.25rem;
	top: 0.625rem;
	transition: background-image 0.3s ease-in-out, transform 0.2s ease;
}

#input-checkbox:checked + .custom-checkbox {
	background-image: url(./icons/check-after.svg);

}


.save-finish{
	gap: 1rem;
	justify-content: end;

}

.custom-radio {
	display: inline-block;
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	background: url(icons/circle-before.svg) no-repeat;
	background-size: cover;
	left: 0.625rem;
	top: 0.625rem;
	transition: background-image 0.3s ease-in-out, transform 0.2s ease;

}
.custom-study-shift:checked + .custom-radio {
	background-image: url(./icons/checkmark-circle-01-after.svg);


}	
.study-shift:has(.custom-study-shift:checked){
border: 0.125rem solid var(--stroke-highlight);
}

.span-activies:has(.activities:checked){
	border: 0.125rem solid var(--stroke-highlight);
}
	
.erro{
	display: none;
	font: var(--heading4);
	color: #DC2626;
	display: flex;
  align-items: center;
	justify-content: start;
	align-items: center;
	gap:0.3125rem;
}

#e-mail:placeholder-shown + .erro {
  display: none;
}

#e-mail:invalid:not(:placeholder-shown) + .erro {
  display: flex;
}

#e-mail:valid + .erro {
  display: none;
}

#medical-information{
    resize: vertical;
		max-height: 18.75rem;
	}