
.heading-h1{
	font: var(--heading1);
	margin-block: 1.5rem 0.5rem;
	color: var(--text-primary);
}

.section-header{
	margin: 4rem 4rem 3rem 4rem;
}

.section-margin{
	margin: 3rem 4rem 3rem 4rem ;
}

.heading-h2 {
	font: var(--heading4);
	margin-block: 3rem 1.5rem;
	color: var(--text-primary);
}

label, option{
	font: var(--heading5);
	color:var(--text-secondary); 
	margin-bottom: 0.25rem;
}

.display-block{
	display: block;
	font: var(--heading5);
	color:var(--text-secondary); 
	width: 100%;
	border: 0.0625rem solid var(--stroke-default);
	border-radius: 0.5625rem;
	margin-block: 0.25rem 1.5rem;
	padding: 1rem 0.75rem;
}

.text-information{
	font: var(--heading4);
	color: var(--text-primary);
	margin-block:0.5rem;

}

.text-information-finish{
	font: var(--heading4);
	color: var(--text-primary);
	margin-block: 0.5rem;
	margin-left: 2.125rem;

}

.display-grid{
	display: grid;
	grid-auto-flow: column;

}

.button-finish1{
	font: var(--heading4);
	color: var(--text-highlight);
	width: 11.4375rem;
	height: 3rem;
	background-color: #FFFF;
	border: 0.125rem solid var(--brand-mid);
	border-radius: 0.5rem;
	margin-block: 4rem;
	cursor: pointer;
}

.button-finish1:hover{
outline: 0.25rem solid var(--surface-secondary);
transition: 0,01ms

}

.button-finish2{
	font: var(--heading4);
	color: #ffff;
	width: 11.4375rem;
	height: 3rem;
	background-color: var(--brand-dark);
	border: 0.125rem solid var(--brand-dark);
	border-radius: 0.5rem;
	margin-block: 4rem;
	cursor: pointer;
}

.button-finish2:hover{
	background-color: var(--brand-mid);
	border: 2px solid var(--brand-mid);
}

.custom-activities{
	display: inline-block;
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	background: url(icons/circle-before.svg)no-repeat;
	background-size: cover;
	left: 0.625rem;
	top: 0.625rem;
	transition: background-image 0.3s ease-in-out, transform 0.2s ease;

}

.absolute{
	position: absolute;

}



.activities{
	width: 1.5rem;
	position: absolute;
	left: 0.625rem;
	top: 0.625rem;
	height: 1.5rem;
	cursor: pointer;
	z-index: 1;
	opacity: 0;
}

.activities:checked + .custom-activities {
	background-image: url(./icons/checkmark-circle-01-after.svg);

}	




.custom-focus:focus {
	border: 0.0625rem solid var(--stroke-highlight);
	outline:0.25rem solid var(--surface-secondary);
	background-color: #fff4ee
}

.custom-disabled:disabled{
background-color: var(--surface-disabled);
border: 0.0625rem solid var(--stroke-default)

}


