.container-grid {
	display: grid;
	grid-template-columns: 41% 59%;
	color:var(--surface-primary)
}

.banner {
	background-image: url(image/Illustration.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100%;
	
}

.section-header{
	p{
		font: var(--heading4);
		color: var(--text-secondary);
	}
	a, img{
	text-decoration: none;
	font: var(--heading4);
	color: var(--text-secondary);
	vertical-align: middle;

}
}

.input-certificate{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px dashed var(--stroke-default);
	border-radius: 9px;
	margin-top: 8px;
	width: 100%;
	height: 160px;
  align-items: center;
	text-align: center;
	& p{
		margin-top: 30px;
	}

  & span{
		position: absolute;
		background-image: url(icons/cloud-upload.svg);
		background-size: cover;
		z-index: 9999;
		width: 48px;
		height: 48px;
		top:28px;
		cursor:pointer;
		}

}

.input-certificate:hover{
	border: 2px dashed var(--stroke-highlight);
	background-color: var(--surface-secondary);

	& span{
	background-image: url(icons/cloud-upload-hover.svg);

	
	}
}


.file-input{
	font: var(--heading4);
	color:#A8A29E;

}	

#input-birth-certificate{
	opacity: 0;
	padding: 65px 241px;
	position: absolute;
	cursor: pointer;
}

.grid-div{
	display: grid;
	grid-template-areas: 
	"label-street label-number"
	"input-street input-number"
	"label-city   label-state"
	"input-city   input-state";
}

.label-street{
	grid-column: 1/2;
	grid-row: 1/2;
}

.input-street{
	grid-row: 2/2 ;
	grid-column: 1/1;
	font: var(--heading5);
	color:var(--text-secondary); 
	border: 1px solid var(--stroke-default);
	border-radius: 9px;
	margin-block: 4px 24px;
	padding: 16px 12px;
	width: 69ch;
	margin-right: 30px;
}

.label-city{
	grid-column: 1/2;
	grid-row: 3/4
}

.input-city{
	grid-column: 1/2;
	grid-row: 4/5 ;
	font: var(--heading5);
	color:var(--text-secondary); 
	border: 1px solid var(--stroke-default);
	border-radius: 9px;
	margin-block: 4px 24px;
	padding: 16px 12px;
	width: 69ch;
	margin-right: 30px;

}

.input-number, 
.input-state{
	font: var(--heading5);
	color:var(--text-secondary); 
	border: 1px solid var(--stroke-default);
	border-radius: 9px;
	margin-block: 4px 24px;
	padding: 16px 12px;
	width: 15ch;
}

.section-flex{
	display: flex;
	justify-content: space-between;
	margin-block: 16px 24px;
}


.study-shift{
	display: flex;
	flex-direction: column;
	border: 1px solid var(--stroke-default);
	border-radius: 9px;
	width: 300px;
	height: 150px;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
	position: relative;

}

.custom-study-shift{
	position: absolute;
	cursor: pointer;
	left: 10px;
	top: 10px;
	width: 22px;
	height: 22px;
	opacity: 0;
	z-index: 1;
}




.flex-activies{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: auto;
	gap: 16px;
	margin-top:16px;
	& span{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 240px;
		height: 130px;
		border: 1px solid var(--stroke-default);
		border-radius: 9px;
		position: relative;
	}

}

.text-information-finish a{
	text-decoration: none;
	color: var(--brand-dark);

}

#input-checkbox {
	position: relative;
	opacity: 0;
	width: 15px;
	height: 15px;
	z-index: 1;
	left: 3px;
	top: 6px;
	cursor: pointer;
}

.custom-checkbox {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(./icons/check-before.svg);
	background-repeat: no-repeat;
	background-size: cover;
	right: 20px;
	top: 10px;
	transition: background-image 0.3s ease-in-out, transform 0.2s ease;
}

#input-checkbox:checked + .custom-checkbox {
	background-image: url(./icons/check-after.svg);

}


.save-finish{
	gap: 16px;
	justify-content: end;

}

.custom-radio {
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	background: url(icons/circle-before.svg) no-repeat;
	background-size: cover;
	left: 10px;
	top: 10px;
	transition: background-image 0.3s ease-in-out, transform 0.2s ease;

}
.custom-study-shift:checked + .custom-radio {
	background-image: url(./icons/checkmark-circle-01-after.svg);

}	
